.container{
display: flex;
align-items: center;
gap: 1em;
justify-content: space-between;

padding: 10px 40px;
>img{



width: 30px;

}
>form{
    flex: 1;
    display: flex;
align-items: center;
 border: 1px solid #ededed;
 border-radius: 25px;
 padding: 10px 20px;
 gap: 1em;
 background-color: #d1d1d1;
 
 >input{
cursor: pointer;
outline: none;
border: none;
flex: 1;
height: 100%;
background-color: #d1d1d1;
 }


}
:hover{

    background-color: white;
 }
>span{

 cursor: pointer;  
 user-select: none; 
}
}
.filltercontainer{

display: flex;
gap: 1em ;
align-items: center;
padding: 0  40px;


>hr{
height: 27px;
width: 2px;
margin: 0;
background-color:#d1d1d1;
border: none;


}
}
